# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Model files (do not upload)
models/
*.h5
*.pt

# Dataset (large files)
data/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# FastAPI / DB
*.sqlite3